mixin main()
  main.py2.p0.md-p3.lg-p3.md-flex.flex-wrap.justify-between
    block

mixin main-header()
  section.col-10.mx-auto.md-m0.lg-m0
    block

mixin main-box(title)
  section.col-10.md-col-6.mx-auto.md-m0.lg-m0
    h2 #{title}
    block
