include ./_head.jade
include ./_navi.jade
doctype html
html
  +head({
    title: "NCC: Nakano Computer Club",
    url: "http://post-internet.github.io/",
    description: "中野を中心に活動するコンピューティングサークル Nakano Computer Club (NCC) のWebサイトです。",
    author: "Nakano Computer Club"
  })
  body
    +navi([
      { text: "Home", href: "#" },
      { text: "Test", href: "#" },
      { text: "Menu", href: "#" },
      { text: "Menu", href: "#" },
    ])
    
    header.py2.flex.flex-wrap.items-center
      div.col-8.right-align
        h1.m0 Nakano Computer Club
        p.h3.mt1.mb1 NCC
      div.col-4
        p.mx2
          | Iconとか入れる
    
    div.px3.lg-px4.wrap
      section.hook.py2
        h2.h1 何か一言どうぞ
      div.contents.flex.flex-wrap
        section.col-6
          h2 NCCとは?
          p
            | 説明文を書く，はてなブログやGitHubのリンクもここでする
        section.col-6
          h2 NCCの主な行事
          p
            | 行事をリスト表示
        section.col-12
          h2 NCCに参加する
          p
            | 参加にあたっての注意事項や手順を記述する
          p#[a(href="#") フォームへのリンク]
      footer.mx-auto.py2
        | footer
    script(src="bundle.js", charset="utf-8")
