include ./_head.jade
include ./_navi.jade
include ./_content-box.jade
doctype html
html
  +head({
    title: "NCC : Nakano Computer Club",
    url: "https://meiji-ncc.tech/",
    description: "中野を中心に活動するコンピューティングサークル Nakano Computer Club (NCC) のWebサイトです。",
    author: "Nakano Computer Club"
  })
    link(rel="stylesheet", href="./style.css")
  body
    +navi([
      { text: "Twitter", href: "https://twitter.com/meiji_ncc" },
      { text: "Blog", href: "http://ncc.hateblo.jp/" }
    ])
    
    header.py2.flex.flex-wrap.items-center
      div.md-flex.flex-wrap.items-center.header-wrap
        div.col-10.md-col-8.right-align.mx-auto
          h1.m0 Nakano#[br.md-hide.lg-hide] Computer Club
          p.h3.mt1.mb1 NCC
        div.col-10.md-col-4.mx-auto
          //- no centering
          p.mx2.xs-hide.sm-hide
            a(href="//kauntah.meiji-ncc.tech", target="_blank")
              img(src="//kauntah.meiji-ncc.tech/counter?offset=0")
          //- centering
          p.mx2.md-hide.lg-hide.center
            a(href="//kauntah.meiji-ncc.tech", target="_blank")
              img(src="//kauntah.meiji-ncc.tech/counter?offset=0")
    
    +main()
      +main-header()
        h2
          | #[span.nowrap コンピュータで] <wbr>
          | #[span.nowrap なんかしてる人が] <wbr>
          | #[span.nowrap 自然と集まるサークル]
      +main-box("NCCとは？")
        div.px1.md-mr3.lg-mr3
          p.m0.p0 NCC とは Nakano Computer Club の略で、2015年に設立されました。
          p.m0.p0
            | このサークルは何かを作ることが目的ではありません。
            | 作るまでの道のりを支えてあげるサークルです。
          p.m0.p0
            | 何かを始めたい時や躓いてしまった時、
            | すぐに詳しい人に出会える場を目指しています。
          //- | 何かを作ること自体そのものが目的ではなく、メンバーが躓いた時や何かを始めたい時、
          //- | すぐに詳しい人に出会える場の提供を目的にサークル運営を行っています。
        div.px1.pt2.md-mr3.lg-mr3
          //- | そのため、サークルが個人に対して活動を強いることはありません。
          p.m0.p0 サークルが個人に対して活動を強いることはありません。
          //- | 基本的な活動はオンライン上のチャット(Slack)がメインですが、LT大会や合宿、
          //- | その他イベント等オフラインの活動も数ヶ月に一度行われています。
          p.m0.p0 基本的な活動はオンライン上のチャット (Slack) がメインです。
          p.m0.p0 他にも、LT大会や合宿などのイベントも数ヶ月に1度行われています。
      +main-box("NCCの主な行事")
        h3 定期的なイベント
        ul.px0.ml3
          li パソコン教室(いわゆる例会/隔週)
          ul
            li 前半は業務連絡や小さな発表など
            li 後半で外部参加可能な講習会も行います。
          li もくもく会(パソコン教室の無い日に開催)
          ul
            li みんなで集まってもくもくと作業します。
        h3 おおきめなイベント
        ul.px0.ml3
          li 新入生歓迎会（4月ごろ）
          ul
            li （2016年度は応募忘れで不参加）
          li 夏合宿（8月ごろ）・春合宿（3月ごろ）
          li コミックマーケット出展（8月・12月）
          ul
            li その他、技術系同人イベント
            li O'Creilly 名義（#[a(href="http://ocreilly.meiji-ncc.tech") 参考]）
      +main-box("NCCに参加する")
        div.px1.md-mr3.lg-mr3
          p.m0.p0 NCCに興味がありますか？
          p.m0.p0 Twitter もしくはメールで連絡してください。
          p.m0.p0 メール: info [at] meiji-ncc.tech
          p.m0.p0 
            a(href="https://twitter.com/intent/tweet?text=%40meiji_ncc%20NCC%E3%81%AB%E8%88%88%E5%91%B3%E3%81%8C%E3%81%82%E3%82%8B%E3%81%AE%E3%81%A7%E6%A1%88%E5%86%85%E3%82%92%E3%81%8F%E3%81%A0%E3%81%95%E3%81%84!%20[%E3%81%93%E3%81%93%E3%81%AB%E3%81%82%E3%81%AA%E3%81%9F%E3%81%AE%E3%81%99%E3%81%A6%E3%81%8D%E3%81%AA%E3%82%B3%E3%83%A1%E3%83%B3%E3%83%88]")
              | > Twitterで連絡する
    footer.mx2.py2
      | // presented by Nakano Computer Club
    script(src="bundle.js", charset="utf-8")
